#products_box{
	
width:100%;
position: relative;

}
#single_product{
	padding:10px;
	
	
}
#main{
	width:100%;
}
.wrapper{
	width:78%;
	float:right;
}
#content{
	padding-left:0em;
	
}
table{
	border-radius: 2em;
	border: 2px dotted black;
	padding:1.5em;
	width:60%;
	margin-right: 20%;
	margin-left:20%;
	background-color:#7887AB;
}
.fi{
	text-align: right;
}
 td{
	border-radius:.8em;
	border: 2px dotted black;
	padding:.5em;
}