a, a:visited { 
	color: black;
	text-decoration:none;
	
}

#cust{
	border-left: 4px solid green;
	border-right: 4px solid green;
	border-bottom: 4px solid green;
}
#sidebar{
	padding-top:0;
	margin-top: 2%;
	
}