table{
		border: 2px dotted gray; 
		width:40%; 
		margin-left:40%;
		
		padding: 1em;
}
#error_msg
{
    width:100%;
    margin:5px auto;
    height:25px;
    border:1px solid #FF0000;
    background:white;
   color:#FF0000;
   text-align:center;
   padding-top:6px;
}