body {	
	margin:0;
}



.wrapper #content {
	 padding-top:3em;

	 
}
#main{
	width:100%;
}

#loginForm{
	width:40%;
	margin-top:3;
	padding-left: 30%;
	padding-right: 30%;
	
	font-size:20px;
	
}
#error_msg
{
    width:100%;
    margin:5px auto;
    height:30px;
    border:1px solid #FF0000;
    background:#FFB9B8;
   color:#FF0000;
   text-align:center;
   padding-top:10px;
}

#loginForm form {
	padding-top:2em;
	color:white;
	font-family: Time New Roman;
	border-radius:15px;
	background-image: url("https://wallpaperbrowse.com/media/images/Background-4.jpg");
}
#loginForm form label.field{
	padding-right:2em;
	color:white;
	font-style: bold;
	font-size: 18px;
	
}

#logbtn{
	background-color:white;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:10px;
	padding-left:10px;
}



